body {
	background-color: #ABBCFF
	text-align: center;
}
h1, p {
	color: white;
}
h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 200px;
}
p {
	font-family: "Arial", Helvetica, sans-serif;
	font-size: 80px;
}